.success {
  min-height: 100vh;
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.success-logo {
  width: 360px;
  height: 46px;
  object-fit: contain;
  margin-bottom: 60px;
}


.success-title {
  font-family: "Barlow", sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.2;
}
