.success {
  min-height: 100vh;
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.success-logo {
  width: 360px;
  height: 46px;
  object-fit: contain;
  margin-bottom: 60px;
}


.success-title {
  font-family: "Barlow", sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.2;
}

.order-summary {
  margin-top: 40px;
  background: #faf7f2;
  color: #292929;
  padding: 20px 30px;
  border-radius: 8px;
  width: 320px;
  text-align: left;
}

.order-summary ul {
  padding-left: 20px;
}
